.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  border: 1px solid black;

  &-label {
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    opacity: 0.6;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:hover {
      opacity: 1;
    }
  }
}

.red {
  border: 1px solid #dc143c;
  background-color: #dc143c;
}

.blue {
  border: 1px solid #00bfff;
  background-color: #00bfff;
}

.green {
  border: 1px solid #008000;
  background-color: #008000;
}

.purple {
  border: 1px solid #800080;
  background-color: #800080;
}

.orange {
  border: 1px solid #ffa500;
  background-color: #ffa500;
}

.pink {
  border: 1px solid #ff1694;
  background-color: #ff1694;
}





















































// Sample Solution
// .toolbar-tailwind {
//   @apply flex flex-row justify-between items-center py-2 px-6 border border-black;
// }

// .toolbar-label-tailwind {
//  @apply text-white py-1 px-2 rounded-sm opacity-60 cursor-pointer transition-all hover:opacity-100;
// }