<!-- <div class='toolbar'>
  <h1 class='toolbar-label red' routerLink="/red">Red</h1>
  <h1 class='toolbar-label blue' routerLink="/blue">Blue</h1>
  <h1 class='toolbar-label green' routerLink="/green">Green</h1>
</div> -->
































































































<!-- Sample Solution -->

<div class='flex flex-row justify-between items-center py-2 px-6 border border-black mt-4'>
  <h1 class='text-white py-1 px-2 rounded-sm opacity-60 cursor-pointer transition-all hover:opacity-100 red' routerLink="/red">Red</h1>
  <h1 class='text-white py-1 px-2 rounded-sm opacity-60 cursor-pointer transition-all hover:opacity-100 blue' routerLink="/blue">Blue</h1>
  <h1 class='text-white py-1 px-2 rounded-sm opacity-60 cursor-pointer transition-all hover:opacity-100 green' routerLink="/green">Green</h1>
</div> 


