<div class='toolbar'>
  <h1 class='toolbar-label red'>Red</h1>
  <h1 class='toolbar-label blue'>Blue</h1>
  <h1 class='toolbar-label green'>Green</h1>
  <h1 class='toolbar-label purple'>Purple</h1>
  <h1 class='toolbar-label orange'>Orange</h1>
  <h1 class='toolbar-label pink'>Pink</h1>
</div>
































































































<!-- Sample Solution -->

<!-- <div class='flex flex-row justify-between items-center py-2 px-6 border border-black mt-4'>
  <h1 class='text-white py-1 px-2 rounded-sm opacity-60 cursor-pointer transition-all hover:opacity-100 red'>Red</h1>
  <h1 class='text-white py-1 px-2 rounded-sm opacity-60 cursor-pointer transition-all hover:opacity-100 blue'>Blue</h1>
  <h1 class='text-white py-1 px-2 rounded-sm opacity-60 cursor-pointer transition-all hover:opacity-100 green'>Green</h1>
</div>  -->


